.contenedor{
    width: 500px;
    padding: 20px;
    margin: auto;
}
h1{
    text-align: center;
}
.imagenes{
  text-align: center;
}
.testimonio{
  text-align: center;
}
.incentivo{
  text-align: center;
}
footer{
  text-align: center;
}
